---
type Props = {
  size: number;
};
const { size } = Astro.props as Props;
---

<!-- <svg
  class="logo"
  width={size}
  height={size}
  viewBox="0 0 256 256"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <style>
    #flame {
      fill: var(--theme-text-accent);
    }

    #a {
      fill: var(--theme-text-accent);
    }
  </style>
  <title>Logo</title>
  <path
    id="a"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M163.008 18.929c1.944 2.413 2.935 5.67 4.917 12.181l43.309 142.27a180.277 180.277 0 00-51.778-17.53l-28.198-95.29a3.67 3.67 0 00-7.042.01l-27.857 95.232a180.225 180.225 0 00-52.01 17.557l43.52-142.281c1.99-6.502 2.983-9.752 4.927-12.16a15.999 15.999 0 016.484-4.798c2.872-1.154 6.271-1.154 13.07-1.154h31.085c6.807 0 10.211 0 13.086 1.157a16.004 16.004 0 016.487 4.806z"
  >
  </path>
  <path
    id="flame"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M168.19 180.151c-7.139 6.105-21.39 10.268-37.804 10.268-20.147 0-37.033-6.272-41.513-14.707-1.602 4.835-1.961 10.367-1.961 13.902 0 0-1.056 17.355 11.015 29.426 0-6.268 5.081-11.349 11.349-11.349 10.743 0 10.731 9.373 10.721 16.977v.679c0 11.542 7.054 21.436 17.086 25.606a23.27 23.27 0 01-2.339-10.2c0-11.008 6.463-15.107 13.974-19.87 5.976-3.79 12.616-8.001 17.192-16.449a31.024 31.024 0 003.743-14.82c0-3.299-.513-6.479-1.463-9.463z"
  >
  </path>
</svg> --><!-- viewBox="0 0 181 89" -->
<svg
  class="logo"
  width={size}
  height={size}
  viewBox="-40 -80 256 256"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <style>
    #bun {
      fill: var(--theme-text-accent);
    }

    #zu {
      fill: var(--theme-text-accent);
    }
  </style>
  <path
    id="bun"
    d="M66.504 20.3284C55.752 53.2564 34.92 72.0724 0.64801 81.8644C2.18401 83.5924 4.48801 87.0484 5.25601 88.8724C40.2 77.5444 61.992 57.7684 74.088 22.5364L66.504 20.3284ZM22.92 20.8084L15.816 23.0164C27.624 56.6164 48.744 79.4644 84.36 88.7764C85.512 86.6644 87.816 83.4004 89.544 81.6724C54.888 73.6084 33.288 51.5284 22.92 20.8084ZM1.80001 16.6804V23.7844H88.584V16.6804H1.80001ZM41.16 0.360352V21.0004H48.552V0.360352H41.16Z"
  ></path>
  <path
    id="zu"
    d="M160.008 18.6964C150.696 41.5444 134.088 58.6324 112.008 68.7124C113.544 70.0564 115.848 72.9364 116.808 74.4724C139.176 63.2404 156.456 45.3844 166.728 20.5203L160.008 18.6964ZM115.464 43.6564C132.552 50.6644 153 62.5684 162.888 71.6884L167.208 66.0244C157.032 56.9044 136.296 45.5764 119.304 38.8564L115.464 43.6564ZM114.504 21.0964C118.248 26.2803 121.992 33.2884 123.24 37.9924L129.096 35.3044C127.752 30.6963 123.816 23.7844 119.976 18.6964L114.504 21.0964ZM132.84 17.7364C136.104 23.4004 139.08 30.9844 139.848 35.8804L145.896 33.5764C145.032 28.7764 141.96 21.2884 138.6 15.7204L132.84 17.7364ZM101.448 4.87235V88.4884H108.648V11.7844H173.352V88.4884H180.84V4.87235H101.448ZM105.48 76.8724V83.7844H176.52V76.8724H105.48Z"
  ></path>
</svg>
